<?xml version="1.0"?><!-- ======================================================================== --><!--  settings.xml for taobao maven users                                     --><!--  Version: 1                                                              --><!--  Auhtor: jingshun shi                                                    --><!--  $Id: settings.xml 182629 2013-06-07 14:31:35Z jingshun.shijs $ --><!-- ======================================================================== -->

<settings>
    <servers>
        <server>
            <id>snapshots</id>
            <username>snapshotsAdmin</username>
            <password>123456</password>
        </server>
        <server>
            <id>releases</id>
            <username>admin</username>
            <password>screct</password>
        </server>
    </servers>

    <!-- ======================================================================== -->
    <!--  mirror settings                                                         -->
    <!-- ======================================================================== -->
    <mirrors>
        <!--<mirror>-->
            <!--<id>jboss-public-repository-group</id>-->
            <!--<mirrorOf>central</mirrorOf>-->
            <!--<name>JBoss Public Repository Group</name>-->
            <!--<url>http://repository.jboss.org/nexus/content/groups/public</url>-->
        <!--</mirror>-->
        <mirror>
            <id>nexus-osc</id>
            <mirrorOf>central</mirrorOf>
            <name>Nexus osc</name>
            <url>http://maven.oschina.net/content/groups/public/</url>
        </mirror>
        <mirror>
            <id>nexus-osc-thirdparty</id>
            <mirrorOf>thirdparty</mirrorOf>
            <name>Nexus osc thirdparty</name>
            <url>http://maven.oschina.net/content/repositories/thirdparty/</url>
        </mirror>
        <mirror>
            <id>repo.exist.com</id>
            <url>http://repo.exist.com/maven2</url>
        </mirror>
        <mirror>
            <id>ibiblio.org</id>
            <url>http://mirrors.ibiblio.org/pub/mirrors/maven2</url>
        </mirror>
        <mirror>
            <id>ibiblio.net</id>
            <url>http://www.ibiblio.net/pub/packages/maven2</url>
        </mirror>
    </mirrors>
    <!-- ======================================================================== -->
    <!--  Profiles                                                                -->
    <!-- ======================================================================== -->
    <profiles>
        <profile>
            <id>nexus</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <url>http://mvnrepo.alibaba-inc.com/mvn/repository</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>http://mvnrepo.alibaba-inc.com/mvn/repository</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <pluginGroups>
        <pluginGroup>com.alibaba.org.apache.maven.plugins</pluginGroup>
        <pluginGroup>com.alibaba.maven.plugins</pluginGroup>
    </pluginGroups>

    <activeProfiles>
        <activeProfile>nexus</activeProfile>
    </activeProfiles>

</settings>
